AppCliente/src/META-INF/wsdl/localhost/EjemploWS/ejemplo.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListaClientes">
        <s:complexType />
      </s:element>
      <s:element name="ListaClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaClientesResult" type="tns:ArrayOfArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="AgregarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListaProductos">
        <s:complexType />
      </s:element>
      <s:element name="ListaProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaProductosResult" type="tns:ArrayOfArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistorialCompras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HistorialComprasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HistorialComprasResult" type="tns:ArrayOfArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListaClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ListaClientes" />
  </wsdl:message>
  <wsdl:message name="ListaClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ListaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="AgregarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ListaProductosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaProductos" />
  </wsdl:message>
  <wsdl:message name="ListaProductosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaProductosResponse" />
  </wsdl:message>
  <wsdl:message name="HistorialComprasSoapIn">
    <wsdl:part name="parameters" element="tns:HistorialCompras" />
  </wsdl:message>
  <wsdl:message name="HistorialComprasSoapOut">
    <wsdl:part name="parameters" element="tns:HistorialComprasResponse" />
  </wsdl:message>
  <wsdl:portType name="EjemploSoap">
    <wsdl:operation name="ListaClientes">
      <wsdl:input message="tns:ListaClientesSoapIn" />
      <wsdl:output message="tns:ListaClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <wsdl:input message="tns:AgregarClienteSoapIn" />
      <wsdl:output message="tns:AgregarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <wsdl:input message="tns:ListaProductosSoapIn" />
      <wsdl:output message="tns:ListaProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HistorialCompras">
      <wsdl:input message="tns:HistorialComprasSoapIn" />
      <wsdl:output message="tns:HistorialComprasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EjemploSoap" type="tns:EjemploSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaClientes">
      <soap:operation soapAction="http://tempuri.org/ListaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <soap:operation soapAction="http://tempuri.org/ListaProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistorialCompras">
      <soap:operation soapAction="http://tempuri.org/HistorialCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EjemploSoap12" type="tns:EjemploSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaClientes">
      <soap12:operation soapAction="http://tempuri.org/ListaClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap12:operation soapAction="http://tempuri.org/AgregarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaProductos">
      <soap12:operation soapAction="http://tempuri.org/ListaProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HistorialCompras">
      <soap12:operation soapAction="http://tempuri.org/HistorialCompras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ejemplo">
    <wsdl:port name="EjemploSoap" binding="tns:EjemploSoap">
      <soap:address location="http://localhost/EjemploWS/ejemplo.asmx" />
    </wsdl:port>
    <wsdl:port name="EjemploSoap12" binding="tns:EjemploSoap12">
      <soap12:address location="http://localhost/EjemploWS/ejemplo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>